<div class="card mx-auto text-center border-light" style="width: 18rem">
  <img src="assets/angular.png" alt="Angular logo" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Mi Blog</h5>
    <p class="card-text">
      Un blog personal creado con Angular y el generador de sitios estáticos de Scully
    </p>
    <a href="https://angular.io" target="_blank" class="card-link">Angular</a>
    <a href="https://scully.io" target="_blank" class="card-link">Scully</a>
  </div>
</div>
